body {
    overflow-x: hidden;
}


p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}



a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: rgb(28, 117, 188);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    /*background-color: rgb(119,154,208); */
    background-color:rgb(16, 31, 91);
}

hr.star-primary {
    border-color: rgb(86, 136, 199);

}

hr.star-primary:after {
    color: rgb(28, 117, 188);
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
/*    background: rgb(119,154,208);   light blue header background on each page*/
      background:  rgb(16, 31, 91);  /* DARK blue header background on each page*/

}

header.title-block {
    padding-top: 100px;
    padding-bottom: 50px;

}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.3em;
    font-weight: 700;
}

header .intro-text .focus {
    font-size: 1.1em;
    font-weight: 400;
}

@media(min-width:768px) {
    header .container {
        padding-top: 188px;
/*        padding-bottom: 125px; */
    }

    header .intro-text .name {
        font-size: 2em;
    }

    header .intro-text .skills {
        font-size: 1.2em;
    }
}


@media(min-width:1200px) {
    header .container {
        padding-top: 148px;
        padding-bottom: 10px;
    }

    header .intro-text .name {
        font-size: 2em;
    }

    header .intro-text .skills {
        font-size: 1.2em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 3em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    /*.navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
/
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }*/
}

.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-toggle {
     border-color: #0000; /* Change border color around this buttons */
     background: #ffffff; /* Change background for button itself */
     color: #0000;

}

.navbar-default .navbar-toggle {
  border-color: #0000; /* Change border color around this buttons */
  background: #ffff; /* Change background for button itself */
}

.navbar-default .navbar-toggle .icon-bar {
  background: rgb(86, 136, 199); /* Change color for horizontal lines */
}


.navbar a:focus {
    outline: 0;
    color: #0e76bd;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

#logo-nav {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#infograph {
    width:80%;
    display:block;
    margin:auto;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

section {
    padding: 60px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #8cb4da;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 60px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #009bde;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.4;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #009bde;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #009bde;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: rgb(16, 31, 91); /* dark blue in footer*/
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: rgb(119,154,208);
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background:rgba(255,255,255,0.82);
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

#contact {
    margin-top: 80px;
}

.page-header {
    text-align: center;
}

.caption {
    font-size: 20px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.event-list {
    width: 50%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.event-list-page {
    width: 60%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.about-contact-btn {
    margin-left: 0 auto;
    width: 50%;
    left: 50%;
    margin-left: -100px;
}

.home-about-text {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

ul.home-about-text li, ul.app-form li {
    list-style-type: none;
    text-align: center;
    font-size: 22px;
}

.home-font-awesome {
    color: red;
}

.membership-application{
    margin-top: 50px;
    text-align: center;
}

.fa-times {
    color: grey;
}

.subscribe-inputs {
    height: 80px;
}

.subscribe-inputs input.subscribe-email {
    height: 45px;
    display: inline-block !important;
    border-radius: 5px;
    width: 240px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.map-header {
        background-color: #101f5b;
        padding: 20px;
        color: white;
        float: left;
        width: 70%;
        margin-bottom: 0;
        display: none;
    }

    .col-md-2, .col-xs-10, .col-xs-offset-1, .filter-options {
        margin: 0 auto;
        padding-top: 35px;
        width: 30%;
        max-width: 300px;
        padding-top: 150px;
    }

.filter-options-group {
    display: none;
}

.filter-header {
    color: #101f5b;
}

.filter-label {
    text-transform: uppercase;
    color: grey; font-size: 10px;
    list-style-type: none;
    }

li {
   list-style-type: none;
}

ul #categories {
        margin-left: -40px;
}

.category-marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-image: url('/img/map-marker-sprite.svg');
  background-repeat: no-repeat;

  position:absolute;
  right: 0;  /* 0px from the left */
  top:  0;  /* 0px from the top  */
}

.company-infowindow h5 {
  width: 92%;
}

.filter-options-toggle {
  display: none;
  color: #101f5b;
}

@media only screen and (max-width: 991px) {
    .filter-options-group {
        display: block;
    }
    .filter-options-toggle {
      display: block;
      cursor: pointer;
    }

    .map-header {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        display: block;
    }

    .map-container {
      margin: -25px;
      padding-left: 1px;
      margin-top: 100px;
    }

    ul#categories {
      display: none;
    }

    .filter-options {
      margin-left: 40px;
      width: 100%;
      top: 80px;
      position: absolute;
      z-index: 1;
      background-color: white;
      max-height: 350px;
      overflow-y: scroll;
      padding: 5px;
      border: 1px solid grey;
      padding: 13px 0 0 18px;
    }

    .filter-options-group{
      margin: -6px 0 0 -10px;
    }

    .row {
        margin-bottom: 0px;
    }
}
