<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom:4px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Fintech in Chicago</span>
                    <hr class="star-light">
                    <span class="name" style="font-size:1.75em;">Deep Roots & A Bright Future</span>

                </div>
                <!--                <div class="col-lg-8 col-lg-offset-2 text-center"> -->
            </div>
        </div>
    </div>
    </div>
</header>
<!-- CONTENT -->

<div class="container">

    <a href="https://docs.google.com/forms/d/1fDqjhqkEbZpnGtKmvYRCk6UbUrrMbAmWusBDwBbR2Fs/viewform" , target="_blank">
        <img class="img-responsive" id="infograph" src="img/PutOnMap.png" alt="">
    </a>
        </br>

    <div class="row">
        <div class="col-sm-6  text-left" style="padding-top:10px">
            <a href="/map">
                <img class="img-responsive" id="infograph" src="img/map.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6" style="padding-top:10px">
          <span style="font-size:1.5em; font-weight:600;">  Meet Chicago's Innovators</span></br>
            <p> Our ecosystem is full of copanies doing innovative things.  Here are a few we thought you should know about:</p>
            <div class="col-xs-6 portfolio-item">
                <a href="#DoughProfile" class="portfolio-link" data-toggle="modal">

                    <img src="img/members/TastyTradeDough.png" class="img-responsive" alt="">
                </a>
            </div>

            <div class="row" style="padding-top:3px;">
                <div class="col-xs-6">
                    <a href="#BarchartProfile">
                        <img src="img/members/Barchart.png" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-xs-6 portfolio-item">
                    <a href="#SpotProfile" class="portfolio-link" data-toggle="modal">

                        <img src="img/members/SpotLogo.png" class="img-responsive" alt="">
                    </a>
                </div>
<!--
                <div class="col-xs-6 portfolio-item">
                    <a href="#NorthWesternMutualProfile" class="portfolio-link" data-toggle="modal">
                                             <img src="img/members/NorthwesternMutual.png" class="img-responsive" alt="">
                    </a>
                </div>
    -->
                <!--
                <div class="col-xs-6 portfolio-item">
                    <a href="#profile4" class="portfolio-link" data-toggle="modal">

                        <img src="img/members/CMEGroup.png" class="img-responsive" alt="">
                    </a>
                </div>
                    -->

            </div>
        </div> <!-- col-sm-6 -->
        <!--   </div>row-->
        <!--     </div> <!-- container -->
    </div>
    <!--   </section>-->
</div>
</div>
</br>



<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>

