<div class="row">
    <!-- This is the first logo row. The logos are allocated two boxes - so there will be six across. Add a modal for each sponsor/partner when their logo is added -->
    <!--First Logo in the Row -->
    <div class="col-xs-2 portfolio-item">
        <a href="#DiscoverModal" class="portfolio-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/sponsors/discover.png" class="img-responsive" alt="">
        </a>
    </div>

    <!--Second Logo in the Row -->
    <div class="col-xs-2 portfolio-item">
    </div>

    <!--Third Logo in the Row -->  <!--When there are one or two premier sponsors, this is the first Partner Logo -->
    <div class="col-xs-2 portfolio-item">
        <a href="#FinTechSandboxModal" class="portfolio-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/sponsors/FinTechSandboxLogo.png" class="img-responsive" alt="">
        </a>

    </div>

    <!--Fourth Logo in the Row -->
    <div class="col-xs-2 portfolio-item">
    </div>

    <!--Fifth Logo in the Row -->
    <div class="col-xs-2 portfolio-item">
    </div>

    <!--Sixth Logo in the Row -->
    <div class="col-xs-2 portfolio-item">
    </div>
</div>
