<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Membership in FinTEx Chicago</span>
                    <hr class="star-light">
                </div>
                <!--
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="#member-application" class="btn btn-lg btn-outline">
                                    <i class="fa fa-download"></i> JOIN FINTEX NOW
                                </a>
                    -->
            </div>
        </div>
    </div>
    </div>
</header>
<!-- WHY
<div class="page-header">
  <h1>Why Join FinTEx?</h1>
  <hr class="star-primary">
</div>
    -->
<div class="container">
    <div class="column" style="padding-top:10px;">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Benefits of Membership</h3>
                    <ul>
                        <li>Connections to the latest industry intelligence and thought leaders</li>
                        <li>Ability to participate in member only programs</li>
                        <li>Access to member only events</li>
                        <li>Member rates for all employees at all FinTEx Chicago events</li>
                        <li>Listing in the FinTEx member directory</li>
                        <li>
                            Opportunities to share your stories and celebrate your achievements:
                            <ul>
                                <li>On the FinTEx Chicago web site</li>
                                <li>On tweets from @FinTExChicago</li>
                            </ul>
                        </li>
                    </ul>
                    </br></br>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Membership Details</h3>
                    <ul>

                        <li>Two classes of Memberships:</li>
                        <ul>
                            <li>
                                <b>Regular:</b> For FinTech Companies and individuals with FinTech subject matter expertise who are located in Chicago.
                                </br>
                                <a href="/downloads/regular_membership.pdf" class="btn btn-primary" style="margin-bottom:10px; margin-top:4px;" download="Regular Membership Application" role="button"><i class="fa fa-download"></i> Regular Application </a>
                                </br>
                            </li>
                            <li>
                                <b>Associate:</b> For FinTech Companies and individuals with FinTech subject matter expertise who are not located in Chicago and for non
                                FinTech companies located in Chicago.
                                </br>
                                <a href="/downloads/associate_membership.pdf" class="btn btn-primary" style="margin-bottom:4px; margin-top:4px;" download="Associate Membership Application" role="button"><i class="fa fa-download"></i> Associate Application </a>

                            </li>
                        </ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h3>Annual dues based on company’s annual revenue</h3>
        <div class="col-md-6 col-md-offset-4 text-left">
            <table class="table">
                <thead>
                    <tr>
                        <th><h3>Annual Dues</h3></th>
                        <th><h3>Annual Revenue</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>$250</h4></td>
                        <td><h4>$0 - $250,000</h4></td>
                    </tr>
                    <tr>
                        <td><h4>$500</h4></td>
                        <td><h4>$250,000 - $5 million</h4></td>
                    </tr>
                    <tr>
                        <td><h4>$2500</h4></td>
                        <td><h4>$5 million - $50 million</h4></td>
                    </tr>
                    <tr>
                        <td><h4>$10,000</h4></td>
                        <td><h4>over $50 million</h4></td>
                    </tr>
                </tbody>
            </table>
</br>
        </div>

    </div>
</div>
<!-- Members -->

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Founding Members</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <img src="img/members/Barchart.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/CFSI.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/CMEGroup.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Connamara.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Discover.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Sandbox.png" class="img-responsive" alt="">
            </div>


            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Gibraltar.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/JumpCapitalLogo.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/MoneyThink.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Morningstar.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/NorthwesternMutual.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/PeanutButter.png" class="img-responsive" alt="">
            </div>

        </div>
   
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2></br></h2>
                <h2>Members</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <img src="img/members/CherubEx.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/DealRoom logo.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/TastyTradeDough.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/HALO.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/InHub.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/lucro.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/Owl Logo.png" class="img-responsive" alt="">
            </div>


            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/pangea.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/peeptrade.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/RCMWealthAdvisors.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/Rippleshot.png" class="img-responsive" alt="">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/TipYourself-logo.png" class="img-responsive">
            </div>

            <div class="col-sm-3 col-xs-4 ">
                <img src="img/members/wala.png" class="img-responsive">
            </div>

        </div>



<!--
        <div class="row">
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/CherubEx.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/DealRoom logo.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/HALO.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/InHub logo.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/lucro.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/Owl Logo.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/pangea.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/peeptrade.png" class="img-responsive">
            </div>
                          <div class="col-sm-4 col-xs-6 ">
                                <img src="img/members/RCMwealthadvisors.png" class="img-responsive" >
                            </div>
            <div class="col-sm-4 col-xs-6 ">
                
                <img src="img/members/Rippleshot.png" class="img-responsive" >
            </div>

            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/TipYourself-logo.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-xs-6 ">
                <img src="img/members/wala.png" class="img-responsive">
            </div>


        </div>
    -->
    </div>
</section>


<!-- FAQ

<div class="page-header">
    <h1>FAQ?</h1>
    <hr class="star-primary">
    <small>Why hello world? <p>because it is awesome</p></small>
    <small>Why hello world?<p>because it is awesome</p></small>
    <small>Why hello world?<p>because it is awesome</p></small>
    <small>Why hello world?<p>because it is awesome</p></small>
    <small>Why hello world?<p>because it is awesome</p></small>
</div>  -->

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
