<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom:4px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">About Us</span>
                    <hr class="star-light">
                    <span class="skills">RAISING THE PROFILE OF FINTECH IN CHICAGO</span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="padding-top:10px;">
    <div class="row">
        <p>FinTex Chicago is a non-profit, member-driven industry association serving FinTech Companies in Chicago and providing a single point of access for those looking to do business here.</p>
        <p> We help companies of all sizes take advantage of the power of adjacency through the formation of a business cluster focused on FinTech and FinServ in Chicago. This will allow participating companies to improve their businesses by becoming productive and more innovative.</p>
        <p>
            Our objectives are to:  

            <ul stule="font-size: 20px;">
                <li>Promote collaboration and business between companies in the region</li>
                <li>Stimulate innovation and new company creation</li>
                <li>Retain local talent, especially from universities, and attract others to the region</li>
                <li>Attract outside investment and business partners</li>
            </ul>
        </p>
        <!-- CONTACT BUTTON -->
        <div class="form-group col-xs-12 about-contact-btn">
            <a href="#membership"><button type="submit" class="btn btn-success btn-lg">Explore Membership</button></a>
        </div>
    </div>
    <div class="row">
        <h3 style="color:rgb(16, 31, 91);">FinTEx News</h3>
        </br>
        <a href="#pressrelease1"><p><u>FinTEx Partners with FinTech Sandbox to Promote Growth of the Chicago FinTech Sector</p></u></a>
        FinTech Sandbox, a Boston based nonprofit that helps fintech startups access data and build great products, and FinTEx, a Chicago based nonprofit building a regional fintech cluster, today announced a formal partnership. FinTech Sandbox provides free access to financial data and infrastructure for qualified startups.  FinTEx will help FinTech Sandbox engage with the most promising Chicago-based fintech startups. In return, FinTEx-affiliated startups will receive preferred consideration when applying to the Sandbox program. FinTEx and FinTech Sandbox will also develop co-marketing, networking and educational opportunities for the Chicago fintech community, and explore ways to better engage Chicago with the greater fintech ecosystem. 
        </br>
    </div>
</div>


</br>

<!-- FOOTER -->


<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>