<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Questions with Mark Haraburda</span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="container">
    <div class="col-xs-2 col-xs-offset-1">
        </br>  <img src="img/profile-photos/MHBarChart.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-xs-8 col-xs-offset-1">
        <div class="intro-text">
            <h3>Mark Haraburda  </h3>

            <h3>CEO, Barchart.com</h3>
        </div>

    </div>
</div>




<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1" >
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">        1.	What inspires you the most about working in the FinTech space?</h4>
        <p style="font-size: 24px;">
            My background is in finance and financial markets. I started at the Chicago Board of Trade with a deep interest in the futures and commodities markets. I was there at the dawn of electronic trading, which helped me realize that technology could be a driver of growth and innovation. Even decades later, I continue to be inspired by further technological acceleration.
        </p></br>
        <h4 style="font-size: 26px;" style="text-left;">        2.	During your tenure with Barchart, how have you see the company impact the FinTech space? </h4>
        <p style="font-size: 24px;">
            Namely, it would be in the growth of cloud computing. When I started at Barchart, our solutions were hosted in a traditional data center. But, as cloud-based infrastructure has evolved, we were one of the first to migrate to the cloud. We saw the value in solutions like Amazon Web Services immediately; it allowed us the ability to operate, build and maintain a much more sophisticated and advanced infrastructure that was not possible 10 years ago - all at a much lower cost.
        </p>
        <p style="font-size: 24px;">
            Additionally, the business has become much more about providing open API access to market data to individuals and businesses versus providing pre-configured widgets and displays that are framed into third party websites and software. Barchart now empowers a more independent user. On the software side, we’ve moved to 100% web-based applications that have outperformed predecessors, such as Java and Active X.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            3.	Given that the financial services industry is changing constantly and growing so rapidly, what innovation challenges have you encountered along the way and what have you done to overcome them?
        </h4>
        <p style="font-size: 24px;">

            Given that the financial services industry is changing constantly and growing so rapidly, what innovation challenges have you encountered along the way and what have you done to overcome them?
        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">              4.	How do you view the FinTech innovation landscape? What do you think we can expect from the industry in the short term and in the long term?</h4>
        <p style="font-size: 24px;">
            The FinTech landscape is very broad, with new payment methods and new currencies surfacing as some of the leading ideas in innovation. In the short term, we might expect to see a lot of focus on API development, connected services, and growth on web and mobile applications. In the long term, we might expect to see more development around financial instruments and currencies. Also there is potential for new tools like virtual reality to impact FinTech as well - the extent to which it will happen is yet to be seen.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">                5.	If you could start your journey in FinTech all over again, would you take a different path? If so, what would you have done differently? </h4>
        <p style="font-size: 24px;">
            My background is primarily on the business side. If I could do it all over again, I would have gotten more involved in developing the technology side of the business. I recommend this to anyone. To fully grasp the future, you would need to understand the technology.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">                6.	How do you personally filter for the next great FinTech idea? What “tests” must the idea meet? </h4>
        <p style="font-size: 24px;">
            I listen closely to customers and think critically about their gaps and pain points. I also keep an eye on other industries and consider how technologies that are taking hold could impact FinTech. The tests aren’t anything too complex: I look for traction and whether the idea is solving a need or a problem.
            There are really just two things. Be client focused. Be problem focused. Both are ingredients for everyday success.
        </p></br>


        <h4 style="font-size: 26px;" style="text-left;">
            7.	The FinTech “boom” has contributed to a lot of disruption within the traditional banking space. How do you think banks will have to adjust going forward?
        </h4>
        <p style="font-size: 24px;">
            Banks will have to become more nimble. Historically banks have been threatened by FinTech startups because banks are typically slower to take risks and build things - partially a result of how regulated they are. Now, we are seeing banks start new divisions to focus on innovation and/or making smart acquisitions to try and keep up. While there is a lot of talk about FinTech companies threatening banks, it is worth noting that trust and security are two important factors in financial services, and banks still have a leg up.
        </p></br>


        <h4 style="font-size: 26px;" style="text-left;">                8.	For the startups that have been successful in the FinTech space, what are some of the things that you think they did right to put them on a success trajectory?</h4>
        <p style="font-size: 24px;">
            As the product is built, startups need to carefully consider how to get the right exposure through public relations, marketing or other grassroots efforts, which will help bring on new users and clients. Even a great idea doesn’t sell itself.

        </p>

        <h4 style="font-size: 26px;" style="text-left;">
            9.	FinTech Quote to “There have been an ideal set of conditions that have come together to lead to this exponential growth in FinTech.”
        </h4>
        <p style="font-size: 24px;">

            “It takes a village to do technology”

        </p></br>
        </br></br>

    </div>
</div>

<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
