<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Questions with John Kerin</span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="container">
    <div class="visible-xs">
        <div class="col-xs-5 col-sm-4 col-xs-offset-1">
            </br>  <img src="img/profile-photos/JohnKerin.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="intro-text">
                </br></br>
                <h3>John Kerin</h3>

                <h3>CEO, Chicago Stock Exchange</h3>
            </div>
        </div>
    </div>
    <div class="visible-sm visible-md visible-lg">
        <div class="col-sm-3 col-sm-offset-1">
            </br>  <img src="img/profile-photos/JohnKerin.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-sm-7 col-xs-offset-1">
            <div class="intro-text">
                </br></br>
                <h3>John Kerin</h3>

                <h3>CEO, Chicago Stock Exchange</h3>
            </div>
        </div>
    </div>
</div>




<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1">
        </br></br>
        <p style="font-size: 24px;">
            The Chicago Stock Exchange is over a century old but it’s on the forefront of issues ranging from market structure to transformation. In this Q&A, CEO John Kerin discusses new products, Chicago fintech and teaming with the Chinese to grow for the future.
        </p>
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            The Chicago Stock Exchange is over 130 years old, one of the oldest fintech companies in Chicago -- how do you stay innovative in a sea of startups?
        </h4>
        <p style="font-size: 24px;">
            We have to innovate to survive, especially due to our relatively small size. Part of that has been shifting our focus to technology -- we’ve evolved from an exchange that happened to have a technology department to a company centered on technology, and one that competes through the effective application of that technology. Over half the company is involved in the design, development and operation of technology. As reliance on automation spreads throughout the organization, experience in technology becomes increasingly important in positions outside of the traditional IT department.
            </br></br>
            The other part of that is searching out underserved areas of the market, and then crafting innovative solutions to meet the needs of firms in those areas. Our most relevant example at the moment is our SNAP auctions product, which launched on June 3rd.

        </p></br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            Can you tell us more about SNAP auctions, where they came from and what problems they solve?
        </h4>
        <p style="font-size: 24px;">
            To address issues faced by institutional firms in a fragmented market that rewards speed and fast networks, we decided to create an on-demand auction product that inverts this situation. Our auction rewards price over speed, benefiting the firm with the most aggressive price rather than the fastest computer or network connection. This product has the potential to end the technology arms race and level the playing field for institutional customers.
            </br></br>
            The on-demand auction product is called SNAP (Sub-second Non-disclosed Auction Process).  As the name implies, an auction can be called for in any security at any time. The auction lasts for less than a second. There is an Auction Only Order type that enables firms that cannot respond in less than a second to participate in the auction without being disadvantaged.
        </p>
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            What’s the technology behind SNAP?

        </h4>

        <p style="font-size: 24px;">
            There’s nothing new about the technology that SNAP is built upon -- it’s the implementation of that technology that is unique. The SNAP auction logic is incorporated into our existing matching engines, which enables us to smoothly transition from open trading to auctions and back again in less than one second. This is done in a manner that is Regulation NMS compliant and incorporates all of the top-of-book displayed volume at all of the exchanges. We think this innovation will meet the needs of all institutional firms. For example, one of the biggest concerns for institutional customers is information leakage, which SNAP is designed to minimize, by holding the auction “in the dark.”


        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            Outside of SNAP -- in general, what are the advantages of being in Chicago?
        </h4>
        <p style="font-size: 24px;">
            Being in Chicago, we are in close proximity to the Chicago Mercantile Exchange (CME), the world’s largest futures exchange. We trade some of the more liquid ETFs in Chicago rather than on the east coast due to our proximity to the CME. Chicago also offers us a strong talent pool, and we don’t have a lot of the expense and overhead cost of operating in Manhattan, so there are numerous benefits we take advantage of.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            What inspiration has CHX drawn from the booming Chicago startup scene?
        </h4>
        <p style="font-size: 24px;">
            We keep up with what they’re doing at 1871 and our officers have attended a number of their events. I think it’s fantastic that Chicago is becoming a hub for technology and innovation, and I’m hopeful and optimistic for our city’s future.
            </br></br>
            To support that growth, we plan to start a JOBS Act listing program for medium-sized companies that do not meet the listing requirements of the larger exchanges. Ideally, as these startups mature, our listing program would provide them with a venue to raise the capital needed to further grow their businesses.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            How do you see Chicago Stock Exchange and the financial industry as a whole evolving?
        </h4>
        <p style="font-size: 24px;">
            It all depends on the application of that technology. Technology and speed have done good things for the retail equity investor from a cost and liquidity perspective. However, technology has also created some problems for our institutional customers. We’re using our SNAP offering to address those issues.
            </br></br>
            The shift to centering the trading business on technology will only continue expanding. Equity and futures markets are automated and linked, and we see this expanding to other instruments and to other countries. The trend is to do globally what the US equities market has done nationally. Our intent is to promote and facilitate trans-Pacific equities trading between the world’s two largest economies, the United States and China. We see a tremendous opportunity made possible by our technology.


        </p></br>


        <h4 style="font-size: 26px;" style="text-left;">
            With CHX potentially being sold to a multi-national investment group, led by China’s Chongqing Casin Enterprise Group, what would that mean for CHX and Chicago?
        </h4>
        <p style="font-size: 24px;">
            We feel the deal has significant upside in that CHX will have the resources to execute our strategic plan, which likely means we will hire more technical talent for our Chicago team. It will also give CHX strong business partners within the most populous nation on earth, which may lead to other business opportunities in China and other countries.

        </p></br>
        </br>
        Submitted by Sam Svoboda, 3Points Communications
        </br></br>
    </div>
</div>

<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
