<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">A profile of Digital Mint</span>
                    <!--             <hr class="star-light">  -->
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- CONTENT HEADER
<div class="page-header">
  <h1>Profile1</h1>
  <hr class="star-primary">
</div>
    -->
<!-- CONTENT HEADER -->
<div class="container">
    <div class="col-xs-3 col-xs-offset-1">

        </br>  <img src="img/members/DigitalMint.png" class="img-responsive" alt="">

    </div>
    <div class="col-xs-7 col-xs-offset-1">
        <div class="intro-text">
            </br>        <h2>Digital Mint</h2>
        </div>

    </div>
</div>

<!-- CONTENT -->
<div class="container">
    <div>
        <div class=" col-xs-10 col-xs-offset-1">
            </br></br>
            <p style="font-size: 24px;">
                Bitcoin remains an enigma: misunderstood and often unappreciated. The cryptocurrency has an undeserved reputation as a channel for money laundering.  Banks wonder about its impact on their cross-border infrastructure and whether there is a way to harness blockchain, the technology upon which bitcoin was built, for themselves.
                </br></br>
                In the midst of this uncertainty, companies like DigitalMint are emerging with a new mindset.  Like any good startup, they aim to fulfill an unmet market need, comply with regulations and collaborate with established players.
                </br></br>
                DigitalMint exchanges cash for bitcoin through ATMs and other mediums. The Chicago-based company started in 2014 with the idea that there were retail customers who could find bitcoin advantageous as an alternative currency but needed an easy way to access their bitcoin wallet.
                </br></br>
                Indeed, the ability of most consumers to use bitcoin was limited and difficult. DigitalMint looked to traditional banking and automated retailing for a solution. The firm is installing bitcoin ATMs where U.S. dollars can be exchanged for the bitcoin cryptocurrency.
                </br></br>
                The startup's target market is the underbanked, meaning people who have bank accounts but also rely on alternative financial services for their banking needs. According to the FDIC National Survey of Unbanked and Underbanked Households, about 20% of U.S. households were underbanked in 2013. Unbanked consumers face high fees for money conversion and transfer services, especially when they send money to family members in other countries.
                </br></br>
                To find underbanked customers, DigitalMint partners with currency exchanges and alternative financial services companies as locations for its ATMs. The ATM serves as an alternative to more expensive international and national currency transfers. Here's how it works:
                </br></br>
                Customers cash checks and make cash deposits into bitcoin accounts, generally referred to as wallets, through the ATM. The amount of the cash deposit is translated into bitcoin at prevailing conversion rates, just like a traditional foreign-exchange transaction. For facilitating the conversion between U.S. dollars and bitcoin, DigitalMint earn a mark-up based on the price spread.
                </br></br>
                "The firm's method to navigating the complicated relationship between banks and FinTech firms is to take a more collaborative approach", says the company’s co-founder and president Marc Jason Grens. "Banks often reach out to DigitalMint for help with understanding how blockchain can be used for international customers", he said.
                </br></br>
                “We’re not going to take on the 800-pound gorilla,” said Grens, referring to established banks who don’t wish to be disrupted. “A lot of banks are open to learning about new technology.”
                </br></br>
                Regulators, for their part, are turning their attention to the FinTech sector in general and bitcoin in particular. Between the U.S. Dept. of the Treasury's Office of the Comptroller of the Currency, the Federal Deposit Insurance Corporation, Financial Crimes Enforcement Network, and other agencies, it remains unclear which agency is responsible for overseeing such companies that want to set up depository accounts with mainstream banks, because traditional institutions are apprehensive about potential legal hurdles.
                </br></br>
                As a result and perhaps despite opposition from those who believe bitcoin should remain outside of the existing infrastructure, Grens’ company wants to collaborate within the existing banking systems, not do away with them entirely. The mainstream banks already have the necessary infrastructure in place as well as relationships with regulators.
                </br></br>
                “We want to work with the payment systems and banking network to make it more powerful. That’s the approach we take,” Grens said. “We’re aren't going to win a full-frontal war. That’s not a win-win situation for this industry.”  That mindset is the reason why DigitalMint reaches out to local financial services regulators in whatever market it chooses to enter.
                </br></br>
                In the meantime, the company plans to build the necessary infrastructure as well as working with regulators and hiring “the right compliance team” to continue operating in the long term and disrupt other markets more efficiently, Grens said. Rather than talk with regulators as disrupters of the system, Grens said the company tries to speak their language and communicate how the company can work with existing networks.
                </br></br>
                “Collaborating with the banking and financial system is not an easy— and is not cheap task. It’s [about] patience when working with them,” Grens said. “Our growth can’t be exponential because of that, but we’re in it for the long haul.”
                </br></br>
            </p>
            </br>
            Submitted by: Collin Canright, Canright Communications
            </br></br>
        </div>

    </div>
</div>
<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <span class="subscribe-inputs">
                        <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                        <button type="submit" class="btn btn-sm btn-outline">
                            <a href="mailto:lisa@fintex.org?subject=Join FinTEx Email List
                           &body=Please add me to FinTEx email list!">Subscribe!</a>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
