<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Questions with Kristi Ross</span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="container">
    <div class="col-xs-2 col-xs-offset-1">
        </br>  <img src="img/profile-photos/KRDough1.png" class="img-responsive" alt="">
    </div>
    <div class="col-xs-8 col-xs-offset-1">
        <div class="intro-text">
            <h3>Kristi Ross</h3>

            <h3>CEO, Dough</h3>
        </div>

    </div>
</div>




<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1" >
        </br></br>
        <p style="font-size: 24px;">
            Kristi Ross is a prominent figure in Chicago’s tech scene as co-CEO of dough. Wikipedia can tell you she’s been EY’s Entrepreneur of the Year and on Crain’s Tech 50; having served with her on ChicagoNEXT’s FinTech Council since inception, I can tell you she’s a passionate believer in Chicago and the City’s potential as a global leader in FinTech. This pillar of the community sat down with me to answer 9 questions about the FinTech revolution (she refused to answer 10).
        </p>
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            What are the 5 things that make you Kristi Ross
        </h4>
        <p style="font-size: 24px;">
            <ol style="font-size: 24px;">
                <li>
                    I love a challenge...I'm highly competitive and have high expectations of myself, but have learned over the years how to keep those expectations grounded when it comes to applying them to others around me.
                </li>
                <li>
                    I whole-heartedly embrace change...change means opportunity for new exciting ideas and experiences.
                </li>
                <li>
                    I'm a glass half-full kind of person...life is too short to dwell on the negative.  Take what you can from the negative, learn and apply to make it better.
                </li>
                <li>
                    I'm incredibly loyal...almost to a fault.
                </li>
                <li>
                    Being a mom is, hands-down, one of the coolest life experiences...I am fortunate to have deep rooted relationships with my three amazing girls, even currently while in their teens.
                </li>
            </ol>
        </p></br>
        <h4 style="font-size: 26px;" style="text-left;">
            What's the big idea behind dough?
        </h4>
        <p style="font-size: 24px;">
            Five years ago, we started out with tastytrade, our online financial network, where we produce eight hours of live programming every day talking about the financial markets, with a mission to make finance fun and actionable.  A couple years into tastytrade, we added dough, our front end visual trading platform to provide a 360 experience for our viewers and make it more interactive with the same mission to make finance fun and actionable.  dough accommodates multiple learning styles because we know that people learn differently.  Our goal is to make options trading less intimidating, more visual and simply approachable.  Do-it-yourself investing is empowering...that starts with knowledge (via tastytrade's content) and the right technology (dough)...best of all it's free and there is something for beginners to advanced and millennials to retirees.
        </p>
        <p style="font-size: 24px;">

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            What makes this hard?
        </h4>

        <p style="font-size: 24px;">
            Most people have a mindset that they need a finance degree, excess time or a lot of money to make investments themselves.  But that's not true.  We clear the noise and teach a logical, mechanical approach to investing using options, staying small and giving them a higher probability of success.  Once they've mastered the tastytrade approach to investing, they can spend 10-15 minutes per day to stay engaged...most people spend way more time on Facebook.  And on the other end of the spectrum, we try to remove the emotion or ego once they find themselves doing well, so that they stick to the mechanical approach and stay disciplined using our trading technology.  We recognize the human side of trading and have created content to appeal to the "real" nature of do-it-yourself investing.  We're there every step of the way because we know that the perception is that it can be hard, but we don't believe it needs to be.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            FinTech is a hot topic and some media outlets are now saying it is more hype than substance. What's your take?
        </h4>
        <p style="font-size: 24px;">
            Fintech is probably perceived as "more hype than substance" because those media outlets are viewing it as a new buzz word.  However, "fintech" is simply the financial industry redefined.  In today's environment, finance without technology is simply only half the story.  Technology is the way we interact.  Technology creates accessibility and in a lot of cases transparency.  Fintech is the present and future of the financial industry.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            What FinTech myth would you dispel?
        </h4>
        <p style="font-size: 24px;">
            I would dispel the myth that fintech is like the dot-com bubble.  I don't view fintech innovation as a bubble but rather I view it as a revolution in the financial industry, led by technology disruption.  It's an industry being redefined, that's only at the forefront of change.  Financial services and practices are being revolutionized.  There's excitement about the industry because of the true impact it can have on our everyday lives.
        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            There aren't enough female entrepreneurs and even fewer are in FinTech. What do we need to do as an industry to fix this?
        </h4>
        <p style="font-size: 24px;">
            It's a universal problem.  I believe fixing this starts in two places.  It starts at home...women in general have more "domestic responsibilities" than anyone really recognizes.  And by the sheer fact that there are only "24 hours in a day," women are going to have a more difficult time squeezing in the extra mile that's needed to get a startup off the ground.  More balance at home...more time to be an entrepreneur.  Second, it needs to come from within each individual woman to break through their own confidence barrier that is sometimes self-inflicted, hard-wired or environmentally accepted.  The intelligence and drive is there, let it shine!  It's helpful to have successful mentors and advocates, both women and men.  And for the fintech industry, celebrate women next to men...taking all facets of what it took to get there into account.
        </p></br>


        <h4 style="font-size: 26px;" style="text-left;">
            What's the hardest part of being a FinTech innovator?
        </h4>
        <p style="font-size: 24px;">
            The hardest part of being a fintech innovator is the unfortunate necessity of reliance on backend legacy technology (banks, brokerage, clearing, etc.) and some of the outdated regulations surrounding it.  There is change coming on the back end but not fast enough to serve the needs of the front end users.  The nimble innovators will continue to pull ahead by creating exceptional front end experiences while working with the confines of the back end, for now.  Fintech is constantly shifting; we are on a foundation of change.  That's exciting to me!
        </p></br>


        <h4 style="font-size: 26px;" style="text-left;">
            What advice would you give to a FinTech entrepreneur (inside a big company or startup)?
        </h4>
        <p style="font-size: 24px;">
            My best piece of advice for anyone and everyone is, "Opportunity is all around you...pay attention."  You never know who you will meet and what opportunities will come about organically...and even more so with hard work, preparation and focus on a particular topic.  Do research, collaborate and talk to people about ideas you have...validation or refinement will come from that.
            </br></br>
            Specific to fintech, there are plenty of needs to be fulfilled in finance.  Know that they can often be solved with technology and in some cases minimal to no regulation.  Many of the backend systems are built on legacy technology and fintech can be inhibited by the interpretation and application of regulation.  Therefore, to be able to truly make industry sweeping change, there is a need to be involved in the initiative for regulatory change that can be written for today's technology environment.  But my advice would be: don't let that discourage you.  Non-financial firms are already having a huge impact in the fintech world with customer facing front end technology and there is still a lot of room for advancement.
        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            tastytrade. dough. What's up with the bakery theme with you and <a target="-blank" href="https://www.tastytrade.com/tt/bio/tom-sosnoff"><u>Sosnoff</u></a>?
        </h4>
        <p style="font-size: 24px;">
            We love food!  Who doesn't?  We also love trading and the financial markets.  Keeping finance fun and approachable, starts with our name.
        </p></br>
        Submitted by Jason Henrichs, Presdient FinTEx Chicago

        </br></br>
    </div>
</div>

<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
