<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">EVENTS</span>
                    <hr class="star-light">
                    <span class="skills">COME JOIN US AT OUR FINTECH EVENTS</span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- UPCOMING EVENTS -->
<div class="page-header">


    
    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FinTech Exchange 2016</h3>
            </div>
            <div class="panel-body">
                Hear from <u>20 leaders</u> in Financial Technology with a focus on Financial Markets & Trading. This one-of-a-kind event is engaging, and features concise, on-stage presentations.                </br></br>
                <p><i class="fa fa-calendar"> Apr 21, 2016 </i></p>
                <a href="http://fintechchicago.com" target="_blank" class="btn btn-success btn-md">Learn More</a>
                <a href="https://www.eventbrite.com/e/fintech-exchange-2016-tickets-20704738430" target="_blank" class="btn btn-success btn-md">Buy Tickets Now</a>

            </div>
        </div>
    </div>
    </br>

    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Data & APIs to Power Your FinTech Startup</h3>
            </div>
            <div class="panel-body">
                FinTEx & FinTech Sandbox created a partnership to provide qualified Chicago startups free access to financial data and infrastructure. Hear from the Executive Director of Sandbox and two startups (AlphaStreet and Solovis) who used the program to accelerate their progress. Barchart, CME, EnvestnetYodlee and Morningstar are partners of both programs and will be on hand to answer questions.
                </br></br>
                <p><i class="fa fa-calendar"> Apr 22, 2016 </i></p>
                <a href="https://www.eventbrite.com/e/data-apis-to-power-your-fintech-startup-tickets-24545780089" target="_blank" class="btn btn-success btn-md">Register</a>
            </div>
        </div>
    </div>
    </br>


</div>
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>