<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">EVENTS</span>
                    <hr class="star-light">
                    <span class="skills">Chicago Area FinTech Events</span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- UPCOMING EVENTS -->
<div class="page-header">
    </br></br>
    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Finance in the Cloud</h3>
            </div>
            <div class="panel-body">
                Join FinTEx at Google Chicago for a discussion on finance in the cloud. </br></br>Hear from industry and innovation leaders Corrie Elston, CTO of Google and Adam Honore of MarketsTech, on the current role of cloud-based technology in Finance as well as their predictions about the future role of Artificial Intelligence and Machine Learning. </br></br>This event is geared towards a technical audience and is most beneficial for CTOs, members of the technical team and product owners.
                </br></br>
                <p><i class="fa fa-calendar"> September 13, 2016 </i></p>
                <a href="https://www.eventbrite.com/e/finance-in-the-cloud-tickets-27153223021" target="_blank" class="btn btn-success btn-md">Register</a>
            </div>
        </div>
    </div>

    </br></br>
    <!--
    <div class="span6 offset3 event-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chicago FinTech Innovators Launch</h3>
            </div>
            <div class="panel-body">
                Chicago has a long history as a leader in financial innovation and many leading companies in trading, insurance, investments, and financial technology call Chicago their home. Please join us as we celebrate the launch of our profile series that will highlight and acknowledge the firms leading the fintech revolution in Chicago for the 21st century.
                </br></br>
                <p><i class="fa fa-calendar"> May 19, 2016 </i></p>
                <a href="https://www.eventbrite.com/e/chicago-fintech-innovators-launch-party-tickets-24804150883?aff=es2" target="_blank" class="btn btn-success btn-md">Register</a>
            </div>
        </div>
    </div>

        -->
    </br>

</div>
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>
