<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name"></span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- CONTENT HEADER
<div class="page-header">
  <h1>Profile1</h1>
  <hr class="star-primary">
</div>
    -->
<!-- CONTENT HEADER -->
<div class="container">
    <div class="col-xs-2 col-xs-offset-1">
        </br>  <img src="img/profile-photos/GlideraLogo.png" class="img-responsive" alt="">
    </div>
    <div class="col-xs-8 col-xs-offset-1">
        </br>
        <div class="intro-text">
            <h2>Glidera bridges gap between bitcoin and P2P payments </h2>
        </div>

    </div>
</div>

<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1">
        </br></br>
        <p style="font-size: 24px;">
            Bitcoin has caused intrigue in major banks and FinTech aficionados alike. Yet the proper application for blockchain technology is still up for debate. That’s where Glidera comes in.
            </br></br>
            Most of the world's major financial institutions are testing blockchain applications. As a result, blockchain startups received some of the highest levels of funding in the FinTech sector, reaching $150 million in the first quarter of 2016.
            </br></br>
            Glidera, which is currently made up of six employees, creates tools for developers looking to create peer-to-peer bitcoin platforms, according to David Ripley, the company’s co-founder and CEO. They provide different plugins and APIs for developers to allow bitcoin buying and selling, he added. Their aim is to help make safe, easy bitcoin ways for consumers to use bitcoin.
            </br></br>
            With a background in finance and technology, Ripley felt like the FinTech sector was a good fit for him to try his hand at entrepreneurship. He is a former principal of Boston Consulting Group, where he focused on strategy, and served as a product manager at mobile software firm Syclo, now part of SAP.
            </br></br>
            Ripley and his co-founder and CTO Michael Xakellis became interested in blockchain technology and turned him on to the field. The company founded in 2014 and officially launched in 2015. “Everything we learned about the technology we were fascinated by it, thought it was incredibly interesting and very similar to the age of the internet,” he says.
            </br></br>
            Person-to-person payments using high growth part of the FinTech sector, but developed areas are outpacing underdeveloped regions. Today it’s easier to transition between the bitcoin and different national currencies, making it simpler to send payments into other countries.
            </br></br>
            “Using bitcoin as a transition medium is turning out to be a huge area of growth,” Ripley says. “The friction continues to go down as [bitcoin] moves forward in the industry.”
            </br></br>
            In the short term, regulations will affect the location and speed of adoption. As regulators interpret bitcoin differently, the adoption rates will follow suit, he added, pointing to New York’s strict bitcoin regulations as a reason why some blockchain companies had left the state.
            </br></br>
            Indeed, regulation as a whole is one of the more difficult obstacles for all types of FinTech businesses. “There's a huge upfront challenge of ensuring that things are done in a regulatory component way,” he says. “That’s really coming to a head right now.” It’s also providing a business opportunity for FinTech firms specializing in regulatory compliance, both for other FinTech firms and traditional financial institutions.
            </br></br>
            Even in countries where bitcoin usage is strictly monitored including Russia, China and Venezuela bitcoin has managed to break through, he says. Given that financial systems in developing countries aren’t as far along, there is a significant opportunity to build efficient payment systems abroad.
            </br></br>
            “The shift toward the consumer applications is continuing to grow; however, the shift in the developing market has outpaced growth in the developed market,” Ripley says. “One of the things we’re looking to do in 2016 is to expand internationally.”
        </p>
        </br>
        Submitted by Collin Canright

        </br></br></br>

    </div>
</div>
<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>

