<!-- <a href="#member-application" class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> ASSOCIATE MEMBERSHIP
</a> -->

<!--
<link href='/static/forms/client/css/3145455273-mobile_formview_st_ltr.css' type='text/css' rel='stylesheet' media='screen and (max-device-width: 721px)'>
    -->


<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">APPLY FOR MEMBERSHIP</span>
                    <hr class="star-light">  
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
            </div>
        </div>
    </div>
</header>

<!-- APPLICATION FORMS -->
<div class="container membership-application">
	<div class="column">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>REGULAR MEMBER</h3></br>
            <ul class= "app-form">
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-times"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-times"></i> Le Ipemao</li></br>
            </ul>
            <p>
            <a href="/downloads/regular_membership.pdf" class="btn btn-primary"  download="Regular Membership Application" role="button"><i class="fa fa-download"></i> Download Application </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>ASSOCIATE MEMBER</h3></br>
            <ul class= "app-form">
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            	<li><i class="fa fa-1x fa-check"></i> Le Ipemao</li></br>
            </ul>
            <p>
            <a href="/downloads/associate.pdf" class="btn btn-primary"  download="Associate Membership Application" role="button"><i class="fa fa-download"></i> Download Application </a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>