<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Questions with Kaleigh Simmons</span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="container">
    <div class="visible-xs">
        <div class="col-xs-4 col-sm-4 col-xs-offset-1">
            </br>  <img src="img/profile-photos/KaleighSimmonsRippleshot.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="intro-text">
                </br></br>
                <h3>Kaleigh Simmons</h3>
                <h3>Director of Marketing, Rippleshot</h3>
            </div>
        </div>
    </div>
    <div class="visible-sm visible-md visible-lg">
        <div class="col-sm-3 col-xs-offset-1">
            </br>  <img src="img/profile-photos/KaleighSimmonsRippleshot.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-7 col-xs-offset-1">
            <div class="intro-text">
                </br></br>
                <h3>Kaleigh Simmons</h3>

                <h3>Director of Marketing, Rippleshot</h3>
            </div>
        </div>
    </div>
</div>




<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1">
        </br></br>
        <p style="font-size: 24px;">
            Fraudsters are the enemy.  Criminals can install point of sale device skimmers in seconds, and they’re not going to back off any time soon. Watch <a href="https://www.youtube.com/watch?v=y83ZgzuFBSE" target="_blank"><u>this video</a></u> to see how easily it's done.
            </br></br>
            The economics are in the fraudsters’ favor. According to card-fraud detection software provider Rippleshot, a card skimmer and associated data storage can go for as little as $8,000. With an average payout of a single skimming incident, typically over 12 to 36 hours, at $50,000, the ROI is greater than 500 percent. And for malware hacking (the type that hit Target and Home Depot), the ROI can be even higher, over 1400 percent.
            </br></br>
            These are incredible -- and rather low-risk -- returns for the bad guys.
            </br></br>
            What does all of this mean? Well first and foremost, it means card fraud won’t be slowing down anytime soon. For 2015 through 2020, card fraud worldwide is expected to total $183 billion.
            </br></br>
            There’s not much of anything that you can put in the way of these criminals that’s going to force them to abandon this cash cow, and that includes the brand new chip cards being mailed out nationwide.
            </br></br>
            It’s that immensely profitable and low-risk fraud that Rippleshot is tackling.
            </br></br>
            We talked to Kaleigh Simmons, Director of Marketing, to take a deeper dive into the problem, and how Rippleshot is tackling it with technology.


        </p>
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            Card Fraud Is an Immense Problem. How Do Fraud Analysts Handle It?
        </h4>
        <p style="font-size: 24px;">
            Fraud analysts are heroes for consumers and the banks that employ them, but the onslaught of fraud signals makes it a Herculean task to keep up. Most analysts use a variety of manual efforts to corroborate threat intelligence. Some post to FICO’s Fraud Forums, a trusted destination industry-wide for analysts trying to confirm fraud. Others post on CrimeDex forums, a similar tool offered by the International Association of Financial Crimes Investigators (IAFCI). Others call over to the neighboring institutions, credit-union leagues and banking associations looking for tips.
            </br></br>
            On a small scale, with a small number of threats, this method sometimes works. Sally posts on a forum saying she’s seeing weird fraud activity. Ben from the bank next door jumps in to confirm. A few others tack on, and before you know it, someone sends an anonymous tip to well-known industry blogger Brian Krebs. He hits "publish" on a post, and within minutes, the media goes wild. The bank/credit union gets their bad guy or gal, and the customers know who to blame.
            </br></br>
            But the problem is getting way bigger than what an individual and some friends can tackle manually.
            </br></br>
            What happens when there are multiple Targets or Home Depots?
            </br></br>
            And what happens when it’s also the neighborhood pizza shop, a couple ATMs and a gas pump with skimmers, a grocery store and a well-known e-commerce retailer?
            </br></br>
            That’s current state for many financial institutions
        </p></br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            You’ve found that the average compromised card that Rippleshot sees passes through not one -- but three -- compromised merchants.
        </h4>
        <p style="font-size: 24px;">
            Yes! It’s amazing. And the vast majority of those merchants aren’t the huge retailers that we see in the news. Of all the merchant compromises that Rippleshot detected in 2015, 74% had five or fewer locations (i.e., were small businesses) -- where fraudulent activity is notoriously difficult to detect because the card networks (MasterCard, Visa, etc.) don’t have the time or resources to investigate the small incidents.
        </p>
        </br></br>
        <h4 style="font-size: 26px;" style="text-left;">
            So How Does Rippleshot Do It?
        </h4>

        <p style="font-size: 24px;">
            Consortium data. We know that fighting debit and credit card fraud is difficult enough already -- no one should have to do it alone. So we built a tool that actually fights fraud together, with data. All banks and credit unions that become clients of Rippleshot get folded into the consortium dataset, which makes our fraud detection infinitely faster and more accurate the larger that data set gets.
            </br></br>
            By analyzing the transaction streams of these financial institutions, we can identify that source of fraud -- where the card information is being stolen -- faster than any method of detection on the market today. In the case of Home Depot, we detected the breach more than 100 days before the public announcement.
            </br></br>
            When you arm a community bank or credit union with this kind of information, they can spend significantly less time trying to track down the CPPs (the common point of purchase among fraudulent cards) and dedicate more of their efforts to fraud mitigation -- whether that’s reissuing cards that are at the highest risk, or implementing real-time decline rules to help catch more fraudulent transactions.
            </br></br>
            And because we know fraud intelligence is much more powerful once you put it into action, we built functionality into our product to help with the reissuance and fraud rules portions.

        </p></br>

        <h4 style="font-size: 26px;" style="text-left;">
            Why Does This Matter?
        </h4>
        <p style="font-size: 24px;">
            Customers. The less they’re disturbed, the better (though it’s not just customers that hate reissued cards; the credit card companies do too, because 20 percent of reissued cards never get activated).
            </br></br>
            Customers also hate false positives, when their card gets declined for a legitimate transaction. Surveys have found that 82 percent of customers who experienced a false positive felt it was inconvenient, embarrassing or irritating.
            </br></br>
            And we tell this to banks all the time -- customers don’t care about chargebacks, shifting fraud liability, or that the retailer didn’t have an EMV compliant terminal. All they know is that they’re continuing to see fraud on their card.
            </br></br>
            And they’re probably going to blame their bank.
            </br></br>
            Some people put Rippleshot in this “fraud department” bucket because we can help lower fraud losses. And that’s absolutely true. But fraud is a larger issue, because it’s not just a line item in  a bank’s budget that you have to stay under -- it’s impacting customers and the bank brand in a big way.
            </br></br>
            And if we can catch the bad guys faster, and help banks lose less money while keeping their customers happily spending -- that’s really where we see ourselves making the biggest impact.
            </br></br>
            We’re right at the crossroads of risk and customer service.

        </p></br>
        Submmited by Josh Inglis, Propllr
        </br></br>
    </div>
</div>
<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
