<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">A profile of Spot Trading</span>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- CONTENT HEADER
<div class="page-header">
  <h1>Profile1</h1>
  <hr class="star-primary">
</div>
    -->
<!-- CONTENT HEADER -->
<div class="container">
    <div class="col-xs-2 col-xs-offset-1">
        </br>  <img src="img/profile-photos/Spot_Logo.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-xs-8 col-xs-offset-1">
        </br>
        <div class="intro-text">
            <h2>Spot Trading</h2>
        </div>

    </div>
</div>

<!-- CONTENT -->
<div class="container">
    <div class=" col-xs-10 col-xs-offset-1">
        </br>
        <p style="font-size: 24px;">
            Few industries are more guarded and secretive than the proprietary trading business. These companies, which make their living by trading their own capital in equities, futures and options markets, have traditionally treated each and every component of their technology stack as a virtual state secret as they attempt to protect their lucrative but very risky trading enterprises. One recent exception to this rule is Spot Trading, which has put its core business principle of collaboration to the test by embracing open source for a key operational component of their system.

        </p>
        <p style="font-size: 24px;">
            Spot Trading was founded as a proprietary trading group in the late 1990’s and from the very beginning collaboration has been a key value. Whereas many trading firms are set up in an “arcade” style, with each trader or group of traders functioning as a separate profit center, Spot emphasized a collaborative, team-based approach. This focus allows the firm  to quickly adapt as the market evolves and carries over to the rest of market through Spot’s recent embrace of open source technology. The firm believes that doing so will not only benefit the industry as a whole but also have a positive impact on its people and the company’s bottom line.

        </p></br>
        <p style="font-size: 28px;">
            <b><i>    Zoom API </b></i>
        </p></br>

        <p style="font-size: 24px;">
            Spot found that they had over 400 systems dependencies when they initialized processes, and over time they built capabilities to automate and monitor these processes. Realizing that other firms had the very same issues, they made the decision to open source the results. In 2014, Spot offered Zoom, a service orchestration API for real-time application startup, configuration and dependency management as an open-source API.

        </p>

        <p style="font-size: 24px;">


            Doing sofit their core ideal of collaboration and it provided a couple of indirect benefits as well. First, because the software code was going in to the public domain there was an increased vigilance on the part of developers to make sure the code was a clean as possible. Second, Spot has relatively small teams, so making the product available via open source worked to augment  their teams with more hands-on development.
        </p>
        <p style="font-size: 24px;">

            To date, Zoom has been an interesting and beneficial effort for Spot. A large number of developers have signed on to learn and deploy the API and Spot has noticed a concomitant increase in sharing from other proprietary trading firms. Going forward, Spot plans on continuing their open-source efforts not only through Zoom but perhaps with API’s for other services such as drop copy. Spot is also continuing to expand its sharing  efforts by publishing blog posts on topics of common industry interest in their Engineering Blog. Recent topics include data
            visualization, NoSQL and cloud storage, as well as a white paper that described how Spot complied with a new technological requirement from the CFTC, the federal regulator for the futures industry.
        </p>
        <p style="font-size: 24px;">

            Spot Trading is headquartered in Chicago and bases its success in large part on the rich vein of trading technology expertise found here. Chicago is unique in having so many firms and individuals that have both a deep understanding of the risk management principles and practices key to the success of a trading firm, and the sheer technology skill to find new solutions to this complex space.
        </p>
        <p style="font-size: 24px;">

            Because Chicago is an innovation hub of talented trading firms, it seems safe to say that past success is a likely indicator of the city’s future results: Chicago will continue to be a world leader in stock, futures and options trading and technology, and groups like Spot will play a significant rolethrough its embrace of open source and collaboration.
        </p>
        </br>

    </div>
</div>
<!-- FOOTER -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>

                    <form action="https://docs.google.com/forms/d/1Eayxd5wN2tU0MpbrMleeLM3Nsz0RJoMofxE3kDYYxPo/formResponse" method="POST" id="ss-form" target="_blank" onsubmit="">
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text">
                                <div class="ss-form-entry">
                                    <input type="text" name="entry.1928406774" style="color:black;" placeholder="Your email address" value="" class="ss-q-short" id="entry_1928406774" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                    <input type="hidden" name="draftResponse" value="[,,&quot;-8793509467677659677&quot;]
">
                                    <input type="hidden" name="pageHistory" value="0">

                                    <input type="hidden" name="fvv" value="0">

                                    <input type="hidden" name="fbzx" value="-8793509467677659677">
                                    </br></br>
                                    <input type="submit" name="submit" value="Subscribe" id="ss-submit" class="btn btn-sm btn-outline">

                                    <div class="error-message" id="1637753161_errorMessage"></div>

                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>

