<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom:4px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Fintech in Chicago</span>
                    <hr class="star-light">
                    <span class="name" style="font-size:1.75em;">Deep Roots & A Bright Future</span>

                </div>
                <!--                <div class="col-lg-8 col-lg-offset-2 text-center"> -->
            </div>
        </div>
    </div>
    </div>
</header>
<!-- CONTENT -->
<div class="container">

    <div>
        </br>
        <p> stuff about chicago's innovative past and the stuff going on now</p>

    </div>
    <div class="row">

        <div class="col-sm-5 text-left">
            <!-- INFOGRAPH -->
            <div>
                <img class="img-responsive" id="infograph" src="img/fintex-infographic.png" alt="">
            </div>

        </div>
        <section id="portfolio">
            <div class="container">
              <!--  <div class="row" >-->
                    <div class="col-sm-6">
                        <h3>Meet Chicago's Innovators</h3>
                        <p> Our ecosystem is full of copanies doing innovative things.  Here are a few we thought you should know about:</p>
                        <div class="row">
                            <div class="col-xs-5 portfolio-item">
                                <a href="#profile1" class="portfolio-link" data-toggle="modal">
                                    <!-- <div class="caption">
                                        <div class="caption-content">
                                            <i class="fa fa-arrow-right fa-3x"></i>
                                        </div>
                                    </div>  -->
                                    <img src="img/profile-photos/CME%20Logo%20Image.png" class="img-responsive" alt="">
                                </a>
                            </div>

                            <div class="col-xs-5 portfolio-item">
                                <a href="#profile2" class="portfolio-link" data-toggle="modal">

                                    <img src="img/profile-photos/Spot_Logo.jpg" class="img-responsive" alt="">
                                </a>
                            </div>

                            <div class="col-xs-5 portfolio-item">
                                <a href="#profile3" class="portfolio-link" data-toggle="modal">
                                    <!-- <div class="caption">
                                        <div class="caption-content">
                                            <i class="fa fa-arrow-right fa-3x"></i>
                                        </div>
                                    </div>  -->
                                    <img src="img/sponsors/game.png" class="img-responsive" alt="">
                                </a>
                            </div>
                            <div class="col-xs-5 portfolio-item">
                                <a href="#profile4" class="portfolio-link" data-toggle="modal">
                                    <!-- <div class="caption">
                                        <div class="caption-content">
                                            <i class="fa fa-arrow-right fa-3x"></i>
                                        </div>
                                    </div>  -->
                                    <img src="img/sponsors/submarine.png" class="img-responsive" alt="">
                                </a>
                            </div>


                        </div>
                    </div> <!-- col-sm-6 -->
              <!--   </div>row-->
            </div> <!-- container -->
    </div>
    </section>
</div>
</div>
</br>



<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>About FinTEx Chicago</h3>
                    <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/FinTExChicago" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/5402425?trk=prof-exp-company-name" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Join our mailing list!</h3>
                    <span class="subscribe-inputs">
                        <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                        <button type="submit" class="btn btn-sm btn-outline">
                            <a href="mailto:lisa@fintex.org?subject=Join FinTEx Email List
                           &body=Please add me to FinTEx email list!">Subscribe!</a>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; FinTEx Chicago 2016
                </div>
            </div>
        </div>
    </div>
</footer>

