<!-- HEADER -->
<header>
    <div class="container" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">
                        FinTEx Partners with FinTech Sandbox to Promote Growth of the Chicago FinTech Sector

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT HEADER -->
<div class="container">
    </br></br>
    <b>CHICAGO, IL and BOSTON, MA– March 11, 2016 – </b>FinTech Sandbox, a Boston based nonprofit that helps fintech startups access data and build great products, and FinTEx, a Chicago based nonprofit building a regional fintech cluster, today announced a formal partnership. FinTech Sandbox provides free access to financial data and infrastructure for qualified startups.  FinTEx will help FinTech Sandbox engage with the most promising Chicago-based fintech startups. In return, FinTEx-affiliated startups will receive preferred consideration when applying to the Sandbox program. FinTEx and FinTech Sandbox will also develop co-marketing, networking and educational opportunities for the Chicago fintech community, and explore ways to better engage Chicago with the greater fintech ecosystem.

    FinTech Sandbox is an industry-lead organization that requires no equity or fees from residents selected into the program. Instead, residents are expected to collaborate with each other in order to share learning and promote advances that benefit the entire fintech ecosystem. The Sandbox also works with fintech startups in London, Boston, New York and the San-Francisco Bay area.
    
    </br></br>

    
    FinTech Sandbox’s six-month program provides startups with the following:
        
        <ul>
            <li>A robust set of data feeds and APIs from a wide array of data partners</li>
            <li>Cloud hosting from industry-leading infrastructure partners</li>
            <li>Membership in a vibrant, global FinTech community</li>
        </ul>
   
        “This partnership aligns with FinTech Sandbox’s strategic expansion to cities with thriving fintech sectors,” said Jean Donnelly, Executive Director of FinTech Sandbox. “Chicago has a vital fintech sector and we look forward to working with to grow it further.
    </br> </br>

       “The success of FinTEx proves that Chicago’s financial community wants to step up and build an ecosystem that helps everyone succeed, and in fact many of our members already contribute resources to Sandbox,” said FinTEx co-founder Lisa Curran. These members include Barchart, CME Group, Envestnet/Yodlee and Morningstar.
    </br> </br>
     “We’re pleased to see these groups working together,” said said Mark Haraburda, Managing Director at Barchart. “The combination maximizes the impact and potential return on our involvement.” 
    </br> </br>
    “Starting a fintech company presents many unique challenges compared to other tech startups,” said FinTEx co-founder Jason Henrichs. “We’re excited to build on our mutual mission to help startups and large companies innovate by working together.”
    </br> </br>

    <p><b>About FinTech Sandbox</b></p>

    FinTech Sandbox is a Boston-based nonprofit founded to promote financial technology innovation globally by providing free access to critical data and resources to FinTech entrepreneurs and startups. Sponsors include Fidelity Investments, F-Prime Capital, Thomson Reuters, Silicon Valley Bank, Amazon Web Services, Intel, SIX Financial Information, Goodwin Procter, and .406 Ventures. For more information, please visit <a href="http://www.FinTechsandbox.org"><u>www.FinTechsandbox.org</u></a> and <a href="https://twitter.com/FinTechsandbox"><u>https://twitter.com/FinTechsandbox</u></a>.

    </br></br>
    <p><b>About FinTEx </b></p>
        FinTEx Chicago is a member-driven organization to expand Chicago’s role as a center of innovation in financial services and financial technology. We serve the community by:
        <ul>
            <li>Helping companies take advantage of the power of adjacency to innovate and be more productive</li>
            <li>Accelerating the creation of new businesses</li>
            <li>Attracting capital, partners and talent from outside the region</li>
            <li>Serving as a single access point to business partners, customers, policymakers, regulators, investors, educators and talent</li>
        </ul>

</div>




<!-- CONTENT -->
<div class="container">
    <div>
        </br></br>
    </div>

    <!-- FOOTER -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>About FinTEx Chicago</h3>
                        <p>FinTEx is a collaboration between leading players in financial services and technology to expand Chicago’s role as a center of innovation.</a>.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Follow Us</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Join our mailing list!</h3>
                        <span class="subscribe-inputs">
                            <input type="text" name="email" value="" required="required" class="subscribe-email" placeholder=" Your email address"></br></br>
                            <button type="submit" class="btn btn-sm btn-outline">
                                <a href="mailto:lisa@fintex.org?subject=Join FinTEx Email List
                           &body=Please add me to FinTEx email list!">Subscribe!</a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; FinTEx Chicago 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
